@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#3C4D41] !important;
}

a {
  text-decoration: none !important;
  @apply text-[#232E26];
}
nav a {
  text-decoration: none !important;
  @apply text-[#232E26] lg:text-lg lg:font-semibold !important;
}

a.nav-link.active {
  @apply font-bold text-[#232E26] lg:text-xl !important;
}
a.nav-link {
  @apply text-[#232E26] hover:opacity-80 !important;
}

div .container {
  @apply px-6 md:px-0 !important;
}

/* footer {
  @apply bg-[url(/assets/images/bg-footer.svg)] !important;
} */

footer a {
  @apply text-[#D9EFDE] !important;
}

#SignIn {
  @apply flex items-center gap-x-1 rounded-full bg-[#232E26] px-4 py-3 text-[#D9EFDE] hover:opacity-70 !important;
}

/* printing recipt */
@media print {
  body * {
    display: none;
  }
  .print-content,
  .print-content * {
    display: block;
  }
}

/* arrow for input type number disabled */
/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
