@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: none !important;
  @apply text-black;
}

a.nav-link.active {
  @apply text-xl font-bold text-[#14274A] !important;
}

footer a {
  @apply text-white !important;
}

body {
  @apply bg-gray-300 !important;
}

/* printing recipt */
@media print {
  body * {
    display: none;
  }
  .print-content, .print-content * {
    display: block;
  }
}